<div class="container">
  <div class="answers-container">
    <h1 class="text-center">Stupid Coaching</h1>
    <div class="row justify-content-center">
      <div class="col-6">
        <label>Ask your coach anything:</label>
        <form action="/answer" method="get" class="input-group mb-3">
            <input type="text" name="question" placeholder="Your question" class="form-control">
            <div class="input-group-append">
              <input type="submit" value="Ask" class="btn btn-primary">
            </div>
        </form>
      </div>
    </div>
  </div>
</div>
